@using SC.SenseTower.Admin.Cqrs.InvitesPage
@using SC.SenseTower.Admin.Models.Invites
@model InvitesViewModel
@{
    ViewData["Title"] = "Приглашения";
    var staticRootUrl = ViewBag.StaticRootUrl;
}
<div class="row">
    <div class="col-12 mb-2">
        <button class="btn btn-icon btn-3 btn-info" type="button" id="admin-batch-add">
            <span class="btn-inner--icon"><span class="material-icons">playlist_add</span></span>
            <span class="btn-inner--text">Пакет для админа</span>
        </button>
        <button class="btn btn-icon btn-3 btn-info" type="button" id="user-batch-add">
            <span class="btn-inner--icon"><span class="material-icons">add</span></span>
            <span class="btn-inner--text">Для пользователя</span>
        </button>
    </div>
    <div class="col-12">
        <div class="card" id="invites-grid">
            <partial name="_Grid" model="Model" />
        </div>
    </div>
</div>
<partial name="_FilterPanel" model="new InvitesPageFilter()" />
@section Scripts {
    <script src="@(staticRootUrl)js/pages/invites.js" asp-append-version="true"></script>
}
