<div class="row">
    <div class="col-xs-12 col-lg-8 col-xxl-6 offset-lg-2 offset-xxl-3">
        <div class="alert alert-success" role="alert">
            Ссылка для восстановления пароля выслана на вашу регистрационную почту.<br/>
            <strong>Внимание!</strong> Срок действия ссылки ограничен.
        </div>
    </div>
</div>
