@model RegisterUserViewModel
<div class="row mt-5">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
        <div class="card w-100">
            <form method="@Model.Method" action="@Model.Url">
                <div class="card-body">
                    <h5 class="card-title">Ввод кода</h5>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Code"></label>
                        <input type="text" class="form-control" asp-for="Code" />
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">@Model.ButtonText</button>
                </div>
            </form>
        </div>
    </div>
</div>
