<div class="row mt-5">
    <div class="col-xs-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Восстановление пароля</h4>
            <p>Ссылка для восстановления пароля выслана на ваш регистрационный email.</p>
        </div>
    </div>
</div>
