################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sc.VRAppDiscoveryService
/Sc.VRAppDiscoveryService/obj
/Sc.VRAppDiscoveryService/Sc.VRAppDiscoveryService.csproj.user
/Sc.VRAppDiscoveryService/bin
.vs/
