@using SC.SenseTower.Admin.Models.Profile
@model PasswordViewModel
<div asp-validation-summary="All" class="text-danger small"></div>
<div class="input-group input-group-dynamic mb-4">
    <label class="form-label" asp-for="CurrentPassword"></label>
    <input type="password" class="form-control" asp-for="CurrentPassword" />
</div>
<div class="input-group input-group-dynamic mb-4">
    <label class="form-label" asp-for="Password"></label>
    <input type="password" class="form-control" asp-for="Password" />
</div>
<div class="input-group input-group-dynamic mb-4">
    <label class="form-label" asp-for="ConfirmPassword"></label>
    <input type="password" class="form-control" asp-for="ConfirmPassword" />
</div>
<button type="submit" class="btn btn-primary">Сменить пароль</button>
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-icon align-middle">
            <span class="material-icons text-md">
                thumb_up_off_alt
            </span>
        </span>
        <span class="alert-text">@ViewBag.Message</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
